*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#001428,#014421,#22c55e);
}

#root{
min-height:100vh;
width:100%;
}

.app{
min-height:100vh;
width:100%;
padding:40px 20px;

display:flex;
flex-direction:column;
align-items:center;
gap:30px;
}

.card{
width:100%;
max-width:900px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(20px);

border-radius:35px;

padding:50px;

box-shadow:0 20px 60px rgba(0,0,0,.3);
}

.title{
text-align:center;
color:white;
margin-bottom:40px;
}

.title h1{
font-size:4rem;
}

.title h3{
margin-top:10px;
font-weight:400;
color:#d1fae5;
}

.carbon-form{
display:flex;
flex-direction:column;
gap:25px;
}

input,
select{
width:100%;
padding:18px;

border:none;
outline:none;

border-radius:18px;

font-size:17px;

background:white;
}

button{
width:100%;
padding:18px;

border:none;

border-radius:18px;

background:linear-gradient(90deg,#16a34a,#22c55e);

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;
}

button:hover{
transform:translateY(-3px);
}

.result-card{
width:100%;
max-width:900px;

padding:35px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(20px);

border-radius:30px;

color:white;

box-shadow:0 10px 40px rgba(0,0,0,.25);
}

@media(max-width:768px){

.card,
.result-card{
padding:25px;
}

.title h1{
font-size:2.6rem;
}

}